.item-card {
  border: 1px solid #e2e8f0;
  padding: 10px;
  border-radius: 3px;
  width: 16vw;
  margin-bottom: 40px;
  cursor: pointer;

  .image {
    width: 100%;

    img {
      width: 100%;
    }
  }

  .item-card-body {
    padding: 10px;

    .title {
      font-weight: 400;
      font-size: 18px;
    }

    .price {
      font-weight: bold;
      font-size: 18px;
      margin-top: 10px;
    }

    .ratings {
      display: flex;

      .text {
        font-size: 13px;
        margin-left: 5px;
        margin-top: 2px;
      }
    }

    button {
      margin-top: 20px
    }
  }
}
